.advantages {
    margin-bottom: 180px;
}

.head {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    --border-shine-opacity: 0;

    @include hover {
        &:hover {
            --border-shine-opacity: 1;
        }
    }
}