.row {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    grid-template-areas: 'image number title';
    gap: 80px;
    align-items: center;
    height: 180px;
    color: var(--color-typo-inverse);

    & + .row {
        margin-top: 120px;

        &::before {
            content: "";
            position: absolute;
            top: -150px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 0;
            height: 180px;
            border: 1px dashed #D7DFE8;
        }
    }
}

.title {
    display: flex;
    grid-area: title;
    font-size: var(--text-headline-s-font-size);
    font-weight: var(--text-headline-s-font-weight);
    line-height: var(--text-headline-s-line-height);
}

.number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    grid-area: number;
    background: var(--color-gradient);
    border-radius: 50%;

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background-color: var(--color-base);
        border-radius: 50%;
    }

    &Text {
        position: relative;
        font-size: var(--text-headline-m-font-size);
        font-weight: var(--text-headline-m-font-weight);
        line-height: var(--text-headline-m-line-height);
        letter-spacing: -0.03em;
    }
}

.image {
    position: relative;
    display: flex;
    grid-area: image;
    height: 100%;

    img {
        position: absolute;
        top: -11px;
        right: -30px;
        height: 262px;
        max-width: 100%;
    }
}

@include max1200 {
    .row {
        gap: 40px;
    }

    .image {
        img {
            right: -35px;
        }
    }
}

@include max1000 {
    .row {
        display: flex;
        flex-flow: column;
        height: auto;
        gap: unset;
        grid-template-columns: unset;
        grid-template-areas: unset;
        padding: 0 0 30px 0;

        & + .row {
            margin-top: 100px;

            &::before {
                content: "";
                position: absolute;
                top: -80px;
                height: 40px;
            }
        }
    }

    .number {
        order: 1;
        flex-shrink: 0;
        margin-bottom: 20px;
    }

    .title {
        order: 2;
        flex-shrink: 0;
        max-width: 400px;
        text-align: center;
        margin-bottom: 30px;
    }

    .image {
        width: 100%;
        height: 180px;
        flex-shrink: 0;
        order: 3;

        img {
            max-width: unset;
            left: 50%;
            transform: translate(-50%, 0);
            right: unset;
        }
    }
}

@include max767 {
    .number {
        width: 48px;
        height: 48px;
    }
}