.hero {
    padding: 210px 0 140px 0;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 120px;
}

.title {
    font-size: var(--text-title-s-font-size);
    font-weight: var(--text-title-s-font-weight);
    line-height: var(--text-title-s-line-height);
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 30px;

    .gradient {
        position: relative;

        span {
            background-image: var(--color-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 300px;
            background: radial-gradient(50% 50% at 50% 50%,rgba(122,119,254,.14) 0%,rgba(122,119,254,0) 100%);
        }

        svg {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.8;
        }
    }
}

.button {
    margin: 0 auto;

    svg {
        vertical-align: middle;
        margin-left: 8px;
        margin-bottom: 2px;
    }
}

.background {
    position: relative;
    height: 625px;
}

.phone,
.card,
.line,
.phoneAdaptive {
    position: absolute;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.card,
.phone {
    will-change: transform;
}

.phone {
    width: 538px;
    height: 785px;
    top: -40px;
    left: 50%;
    margin-left: -300px;
}

.card {
    width: 196px;
    height: 236px;
    left: 50%;

    &1 {
        top: 72px;
        transform: translate(-519px, 0) rotate(19deg);
        z-index: 4;
    }
    
    &2 {
        top: 177px;
        transform: translate(-340px, 0) rotate(-23deg);
        z-index: 4;
    }

    &3 {
        top: 140px;
        transform: translate(137px) rotate(13.5deg);
    }

    &4 {
        top: 195px;
        transform: translate(344px) rotate(-12deg);
        z-index: 4;
    }
}

.line {
    position: absolute;
    max-width: 100%;
    top: 89px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1450px;
    height: 470px;
    background-size: 1604px 470px;
    z-index: 3;
}

.backgroundAdaptive {
    display: none;
}

.phoneAdaptive {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 375px;
    max-width: 100%;
    height: 560px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@include max1200 {
    .hero {
        padding: 200px 0 120px 0;
    }

    .container {
        margin-bottom: 100px;
    }

    .title {
        .gradient::before {
            width: 350px;
            height: 250px;
        }
    }

    .background {
        display: none;
        height: 560px;

        &Adaptive {
            display: block;
            overflow: hidden;
        }
    }
}

@include max1000 {
    .hero {
        padding: 190px 0 80px 0;
    }

    .title {
        .gradient::before {
            width: 320px;
            height: 230px;
        }
    }
}

@include max767 {
    .hero {
        padding: 160px 0 50px 0;
    }

    .container {
        margin-bottom: 50px;
    }

    .title {
        max-width: 450px;
        margin-bottom: 60px;

        .gradient::before {
            width: 200px;
            height: 130px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(122, 119, 254, 0.2) 0%, rgba(122, 119, 254, 0) 100%);
        }

        &Row {
            display: block;
        }
    }
}