.footer {
    padding: 40px 40px 20px 40px;
    background-color: var(--color-footer);
    margin: 0 20px;
    border-radius: 20px 20px 0 0;
}

.top {
    display: flex;
    flex-flow: column;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #2F3133;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;

    &Icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        color: var(--color-project);
        background-color: var(--color-base);
        border-radius: 16px;
        margin-right: 20px;
    }

    &Text {
        font-weight: 600;
        font-size: 30px;
        line-height: 1;
        letter-spacing: -0.03em;
    }
}

.copyright {
    color: var(--color-typo-ghost);
    font-size: var(--text-sub-font-size);
    font-weight: var(--text-sub-font-weight);
    line-height: var(--text-sub-line-height);
}

.socials {
    display: flex;
    align-items: center;

    &Link {
        color: var(--color-typo-base);
        text-decoration: none;
        user-select: text;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transition: opacity 0.15s;

        & + & {
            margin-left: 10px;
        }

        @include hover {
            &:hover {
                opacity: 0.82;
            }
        }
    }
}

@include max1200 {
    .logo {
        &Text {
            font-size: 28px;
        }
    }
}

@include max1000 {
    .logo {
        &Text {
            font-size: 26px;
        }
    }
}

@include max767 {
    .footer {
        padding: 20px;
        margin: 0;
    }

    .top {
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .logo {
        &Icon {
            width: 44px;
            height: 44px;
            margin-right: 16px;

            svg {
                width: 24px;
                height: 28px;
            }
        }
        &Text {
            font-size: 22px;
        }
    }

    .bottom {
        flex-flow: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }

    .copyright {
        font-size: 14px;
    }
    
    .socials {
        margin-bottom: 30px;
    }
}