.currency {
    position: relative;
    user-select: none;
    margin-right: 60px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140%;
        height: 120%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(122, 119, 254, 0.12) 0%, rgba(122, 119, 254, 0) 100%);
        opacity: 0;
        transition: opacity 0.15s;
    }
}

.name {
    position: relative;
    font-size: var(--text-title-m-font-size);
    font-weight: var(--text-title-m-font-weight);
    line-height: var(--text-title-m-line-height);
    letter-spacing: -0.05em;
    color: transparent;
    background-image: linear-gradient(270deg, #707174 0%, #707174 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-typo-base);
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(15px);
    border-radius: 16px;

    svg {
        opacity: 0.4;
        transition: opacity 0.2s;
    }

    &.top {
        top: 0px;
    }
    
    &.bottom {
        bottom: 0;
    }
}

.currency:hover {
    &::before {
        opacity: 1;
    }

    .icon svg {
        opacity: 1;
    }
}

@include max1200 {
    .icon {
        width: 60px;
        height: 60px;

        svg {
            width: 30px;
            height: 30px;
        }

        &.top {
            top: -12px;
        }

        &.bottom {
            bottom: -12px;
        }
    }
}

@include max1000 {
    .currency {
        margin-right: 40px;
    }
}

@include max767 {
    .currency {
        margin-right: 26px;
    }

    .icon {
        width: 40px;
        height: 40px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}