.colors {
    --color-base: #0D0F11;
    --color-essential: #FFFFFF;
    --color-primary: #503ADA;
    --color-secondary: #F4F980;

    --color-typo-base: #0D0F11;
    --color-typo-inverse: #FFFFFF;
    --color-typo-ghost: #A3A2AA;
    --color-typo-gray: #EAE9EE;
    --color-typo-surface: #7B8085;

    --color-hover-primary: #402EAE;
}