.colors {
    --color-base: #FFFFFF;
    --color-essential: #0B0D10;
    --color-project: #FEC404;
    --color-gradient: linear-gradient(130.2deg, #DC8AFF -3.76%, #7EE8FF 97.97%);
    --color-surface: #23262A;
    --color-footer: #17191D;

    --color-typo-base: #FFFFFF;
    --color-typo-inverse: #0B0D10;
    --color-typo-ghost: #7E8286;
}