.colors {
    --color-base: #FFFFFF;
    --color-essential: #0B0D10;
    --color-project: #FEC404;
    --color-gradient: linear-gradient(145.44deg, #DC8AFF 41.16%, #7EE8FF 102.8%), #FFFFFF;
    --color-surface: #23262A;

    --color-typo-base: #FFFFFF;
    --color-typo-inverse: #0B0D10;
    --color-typo-ghost: #7E8286;
}