.decorations {
    --text-title-m-font-size: 150px;
    --text-title-m-font-weight: 500;
    --text-title-m-line-height: 1.15;

    --text-title-s-font-size: 100px;
    --text-title-s-font-weight: 700;
    --text-title-s-line-height: 1.15;

    --text-headline-l-font-size: 54px;
    --text-headline-l-font-weight: 600;
    --text-headline-l-line-height: 1;

    --text-headline-m-font-size: 30px;
    --text-headline-m-font-weight: 600;
    --text-headline-m-line-height: 1;

    --text-headline-s-font-size: 24px;
    --text-headline-s-font-weight: 600;
    --text-headline-s-line-height: 1.4;

    --text-button-font-size: 20px;
    --text-button-font-weight: 600;
    --text-button-line-height: 1;

    --text-body-font-size: 20px;
    --text-body-font-weight: 400;
    --text-body-line-height: 1.4;

    --text-sub-font-size: 18px;
    --text-sub-font-weight: 400;
    --text-sub-line-height: 1.4;

    --text-caption-font-size: 14px;
    --text-caption-font-weight: 700;
    --text-caption-line-height: 1;
}