.currencies {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 100px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.head {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: auto;
    min-width: 0;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    will-change: transform;
}

@include max767 {
    .titleRow {
        display: block;
    }
}